@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap");

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #f6f8fa;
}

h1,
.title {
    font-family: "Zilla Slab", serif;
}

input[type="button"] {
    font-family: inherit;
    font-size: 100%;
}

header {
    overflow: hidden;
    background-color: #24292e;
    color: white;
}

header .title {
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
}

header .header-right {
    float: right;
}

header a {
    float: left;
    color: white;
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

header a:hover {
    color: #ffffffb3;
}

header a.active {
    color: #4ccc70;
}

.container {
    width: 75%;
    margin: 20px auto;
}

.container-60 {
    width: 75%;
    margin: 20px auto;
}

.modal {
    background-color: red;
    color: white;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 4px;
    display: none;
}

.modal input {
    border-radius: 4px;
    float: right;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    transition-duration: 0.1s;
}

.modal input:hover {
    background-color: white;
    color: red;
}

.error-message {
    font-style: italic;
}

footer {
    overflow: hidden;
    background-color: #ffffff;
    padding: 5px;
    text-align: center;
}

.hidden {
    display: none !important;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spinner {
    border: 16px solid rgb(175, 175, 175);
    border-top: 16px solid #4ccc70;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container-inside {
    margin: 25px 0;
}

.container-inside img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.manufacturer-list {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.manufacturer-item {
    margin-bottom: 10px;
    padding: 10px;
}

.manufacturer-item-select {
    background-color: white;
}

.manufacturer-item-add {
    background-color: #24292e;
    color: white;
    font-weight: bold;
    text-align: center;
}

.manufacturer-item:hover {
    color: #4ccc70;
    cursor: pointer;
    font-weight: bold;
}

.manufacturer-container {
    display: flex;
}

.manufacturer-details {
    flex: 1;
    background-color: white;
    margin-left: 10px;
    padding: 20px;
}

form h2 {
    margin: -20px;
    background-color: #29b14f;
    color: white;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.form-footer {
    margin-top: 20px;
    text-align: center;
}

.form-button {
    padding: 10px;
    background-color: #24292e;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0 5px;
}

.form-button-submit {
    background-color: #29b14f;
}

.form-button-delete {
    background-color: #ca3131;
}

.form-line {
    margin-bottom: 10px;
}

.form-button:hover {
    cursor: pointer;
    color: black;
}

.form-input {
    float: right;
    width: 200px;
    height: 20px;
    padding: 0;
    margin: 0;
}