@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
    --main-bg-color: #f7f7f7;
    --main-fg-color: #404040;
    --main-bg-hover-color: #dedede;
    --main-color: #4ccc70;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    height: 100%;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24292e;
    color: var(--main-bg-color);
    padding: 15px;
}

header h1 {
    font-weight: bold;
    font-size: x-large;
    padding: 0 10px;
    margin: 0;
}

header a {
    color: var(--main-bg-color);
    text-decoration: none;
    padding: 0 10px;
}

header a:hover {
    color: var(--main-bg-hover-color);
}

header a.active {
    color: var(--main-color);
}

.hidden {
    display: none !important;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spinner {
    border: 16px solid var(--main-bg-hover-color);
    border-top: 16px solid var(--main-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    flex: 1 0 auto;
    width: 900px;
    margin: 0 auto;
}

footer {
    flex-shrink: 0;
    padding: 15px;
    text-align: center;
}

p {
    text-align: justify;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    height: auto;
}

.manufacturer-list {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.manufacturer-item {
    margin-bottom: 10px;
    padding: 10px;
}

.manufacturer-item-select {
    background-color: white;
    text-align: left;
}

.manufacturer-item-add {
    background-color: #24292e;
    color: white;
    font-weight: bold;
    text-align: center;
}

input {
    font-family: inherit;
    font-size: 100%;
    outline: none;
}

input[type="submit"],
input[type="button"] {
    border: 0;
}

.manufacturer-item-add:hover {
    color: var(--main-color);
}

.manufacturer-item-select:hover {
    background-color: var(--main-bg-hover-color);
}

.manufacturer-item:hover {
    cursor: pointer;
    font-weight: bold;
}

.manufacturer-container {
    display: flex;
}

.manufacturer-details {
    flex: 1;
    background-color: white;
    margin-left: 10px;
    padding: 20px;
}

form h2 {
    margin: -20px;
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.form-footer {
    margin-top: 20px;
    text-align: center;
}

.form-button {
    padding: 10px;
    background-color: #24292e;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0 5px;
}

.form-button-submit {
    background-color: var(--main-color);
}

.form-button-delete {
    background-color: #ca3131;
}

.form-line {
    margin-bottom: 10px;
}

.form-button:hover {
    cursor: pointer;
    color: black;
}

.form-input {
    float: right;
    width: 200px;
    height: 20px;
    padding: 0;
    margin: 0;
}

.modal {
    background-color: #ca3131;
    color: var(--main-bg-color);
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 4px;
}

.modal input {
    float: right;
    background-color: transparent;
    color: var(--main-bg-color);
    border: 2px solid var(--main-bg-color);
}

.modal input:hover {
    background-color: var(--main-bg-hover-color);
    color: #ca3131;
    cursor: pointer;
}

.error-message {
    font-style: italic;
}
